<!-- chatapp/templates/chatapp/room_new.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Create a New Chat Room</title>
    <style>
        body {
            border-color: orange;  
            border-width: 50px;  
            border-style: inset;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <h1>Create a New Chat Room</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Room Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Create</button>
    </form>

    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
